* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dancing Script", serif;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 220px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: white;
    display: flex;
    flex-direction: column;
}

.card:nth-child(even) {
    flex-direction: column-reverse;
}

.card p {
    padding: 12px;
    font-size: 24px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, black, gray);
    background-clip: text;
    color: transparent;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}